{% extends 'main/base.html' %}

{% block content %}
    <!-- Статистика -->
    <div class="container">
    <div class="statistics">
        <h2>Статистика</h2>
        <div class="stat-item">
            <p><strong>Количество рассылок всего:</strong> {{ total_mailings }}</p>
        </div>
        <div class="stat-item">
            <p><strong>Количество активных рассылок:</strong> {{ active_mailings }}</p>
        </div>
        <div class="stat-item">
            <p><strong>Количество уникальных клиентов для рассылок:</strong> {{ unique_clients_count }}</p>
        </div>


    <!-- Случайные статьи -->
    <div class="container">
        <div class="random-articles">
            <h2>Случайные статьи</h2>
            <div class="row articles-grid">
                {% if random_articles %}
                    {% for blog in random_articles %}
                        <div class="col-md-3 mb-4"> <!-- Используем класс mb-4 для нижнего отступа -->
                            <div class="card" style="width: 100%;"> <!-- Установлено 100% для ширины карточки -->
                                <div class="card-body">
                                    <h5 class="card-title">{{ blog.title }}</h5>
                                    <p class="card-text">{{ blog.body | truncatechars:100 }}...</p>
                                    <a href="{% url 'blog:blog_detail' blog.pk %}" class="btn btn-primary">Читать</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Нет доступных статей.</p>  <!-- Сообщение, если нет статей -->
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
