{% extends 'main/base.html' %}

{% block content %}
    <h5>Список попыток рассылки: {{ mailing.description }}</h5>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Время создания</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for attempt in attempts %}
            <tr>
                <td>{{ attempt.id }}</td>
                <td>{{ attempt.send_time }}</td>
                <td>{{ attempt.status }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Пока нет попыток рассылок.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center mt-3">
        <a href="{% url 'mailing:mailing_detail' mailing.pk %}" class="btn btn-primary">Назад</a>
    </div>
{% endblock %}